{# ---- Formatting macros ---- #}

{%- macro formatEmail(email) -%}
  <span class="contact-email"><a href="mailto:{{ email }}">{{ email }}</a></span>
{%- endmacro -%}


{# Handle missing variables 
{% macro safe_variable(variable, default_value="Default Value if Missing") %}
    {{ variable|default(default_value) }}
{% endmacro %}
#}


